:root {
    font-size: 16px;
    --text_primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

html {
    font-family: 'Sofia Sans', sans-serif;
    scroll-behavior: smooth;
    padding: 0%;
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    display: grid;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: purple;
}

main {
    clear: both;
    height: 2500px;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10% 1fr 1fr 1fr;
    grid-template-areas: 
    'hero hero hero hero'
    'overview overview overview overview'
    'gallery gallery gallery gallery'
    'amenities amenities amenities amenities'
    'footer footer footer footer'
    ;
}

h1 {
    padding: 0%;
}

/* ADD A LOGO OF CYPRUS WITH A PIN WHERE TALA IS IN TOP RIGHT */

.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgb(240, 232, 232);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.49);
    z-index: 3;
}

.navbar-nav {
    position: relative;
    top: 28%;
    left: 9%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item {
    font-size: larger;
    margin-left: 10%;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #23232e;
}

.nav-item:last-child {
    margin-left: auto;
    position: relative;
    right: 10%;
}

.heroContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'space space space space'
    'title title title title'
    'sub sub sub sub'
    'button button button button'
    ;
    grid-area: hero;
    background-image: url(/img/WhatsApp\ Image\ 2023-01-20\ at\ 22.03.23\ \(6\).jpeg);
    background-size: 100%;
    height: 870px;
}

.title {
    text-align: center;
    grid-area: title;
    color: white;
    font-size: 60px;
    font-weight: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.subTitle {
    position: relative;
    bottom: 100px;
    text-align: center;
    grid-area: sub;
    color: white;
    font-size: 45px;
    font-weight: 1;
}

.inquireButton {
    position: relative;
    left: 42%;
    bottom: 80%;
    align-self: center;
    grid-area: button;
    height: 45px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-family: 'Sofia Sans', sans-serif;
    font-size: large;
    transition: box-shadow 0.3s ease;
    transition-property: background-color 2s ease;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
}

.inquireButton:hover {
    background-color: rgb(19, 224, 255);
    color: white;
}

.overviewContainer {
    grid-area: overview;
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    '. title subtitle .'
    '. . paragraph .'
    ;
}

.overTitle {
    position: relative;
    top: 20%;
    grid-area: title;
    font-size: 50px;
}

.overSub {
    position: relative;
    top: 24%;
    grid-area: subtitle;
    font-size: 35px;
    text-decoration: solid;
    font-weight: 1;
}

.overParagraph {
    grid-area: paragraph;
    position: relative;
    top: 24%;
    font-size: 20px;
    font-weight: 1;
}

.galleryContainer {
    grid-area: gallery;
    height: 20%;
    width: 100%
}

.carousel {
    width: 100vh;
    height: 100vh;
    position: relative;
    left: 22%;
}

.slide {
    inset: 0;
    position: absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carouselButton {
    top: 50%;
    color: white;
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, .1);
    padding: 0 .5rem;
}

.carouselButton:hover,
.carouselButton:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carouselButton:focus {
    outline: 1px solid black;
}

.carouselButton.prev {
    left: 1rem;
}

.carouselButton.next {
    right: 1rem;
}

.carouselUl {
    list-style-type: none;
}

.amenitiesContainer {
    position: relative;
    top: 20%;
    grid-area: amenities;
    height: 30%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    '. Amentext Aimg ..'
    '. button button ..'
    ;
}

.amenWord {
    grid-area: Amentext;
}

.amenTitle {
    font-weight: 400;
    font-size: 50px;
}

.amenFloor {
    position: relative;
    top: 10%;
    font-weight: 400;
    font-size: 20px;
}

.amenFloor2 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    top: 20%;
}

.amenFloorP {
    font-weight: 1;
    font-size: 17px;
    position: relative;
    top: 10%;
}

.amenFloorP2 {
    font-weight: 1;
    font-size: 17px;
    position: relative;
    top: 20%;
}

.amenitiesPic {
    grid-area: Aimg;
    max-width:  90%;
    position: relative;
    left: 20%;
}

.buttonBox {
    grid-area: button;
    position: relative;
    top: 60%;
}

.footerContainer {
    grid-area: footer;
    height: 0%;
    width: 100%
}